<HTML><BODY>
	<H1>Clue ideas</H1><br>

<TABLE border=1>

<tr><td style="text-align:center"><H3>Clue</H3></td><td style="text-align:center"><H3>Leads to</H3></td></tr>
<tr><td style="text-align:center">i heat things up</td><td style="text-align:center">microwave</td></tr>
<tr><td style="text-align:center">when you see me you see you</td><td style="text-align:center">hand mirror</td></tr>
<tr><td style="text-align:center">i hold legos</td><td style="text-align:center">really?</td></tr>
<tr><td style="text-align:center">feeling curly</td><td style="text-align:center">curling iron</td></tr>
<tr><td style="text-align:center">lets grind</td><td style="text-align:center">coffee grinder</td></tr>
<tr><td style="text-align:center">rhymes with boytox</td><td style="text-align:center">toybox</td></tr>
<tr><td style="text-align:center">feeling lazy</td><td style="text-align:center">lazyboy recliner</td></tr>
<tr><td style="text-align:center">pedal but go nowhere</td><td style="text-align:center">staionary bike</td></tr>
<tr><td style="text-align:center">run but go nowhere</td><td style="text-align:center">treadmill</td></tr>
<tr><td style="text-align:center">strum me</td><td style="text-align:center">guitar</td></tr>
<tr><td style="text-align:center">tumble dry</td><td style="text-align:center">dryer</td></tr>
<tr><td style="text-align:center">downward facing dog</td><td style="text-align:center">yoga mat</td></tr>
<tr><td style="text-align:center">catch fish</td><td style="text-align:center">fishing rod</td></tr>
<tr><td style="text-align:center">stir it up</td><td style="text-align:center">mixer</td></tr>
<tr><td style="text-align:center">a stitch in time</td><td style="text-align:center">sewing machine</td></tr>
<tr><td style="text-align:center">rhymes with ashcan</td><td style="text-align:center">trashcan</td></tr>
<tr><td style="text-align:center">dont label me</td><td style="text-align:center">label maker</td></tr>
<tr><td style="text-align:center">okay google</td><td style="text-align:center">google home</td></tr>
<tr><td style="text-align:center">i scan stuff</td><td style="text-align:center">printer/scanner</td></tr>
<tr><td style="text-align:center">belly on up</td><td style="text-align:center">breakfast bar</td></tr>
<tr><td style="text-align:center">checkmate</td><td style="text-align:center">chess set</td></tr>
<tr><td style="text-align:center">lets toast</td><td style="text-align:center">toaster oven</td></tr>
<tr><td style="text-align:center">feed fish</td><td style="text-align:center">fish food</td></tr>
<tr><td style="text-align:center">lets rock</td><td style="text-align:center">rocking chair</td></tr>
<tr><td style="text-align:center">step on up</td><td style="text-align:center">step stool</td></tr>
<tr><td style="text-align:center">tick tock grandpa</td><td style="text-align:center">grandfather's clock</td></tr>
<tr><td style="text-align:center">does it blend</td><td style="text-align:center">blender</td></tr>
<tr><td style="text-align:center">did you get a cut</td><td style="text-align:center">first aid kit</td></tr>
<tr><td style="text-align:center">dude i suck</td><td style="text-align:center">vacuum cleaner</td></tr>
<tr><td style="text-align:center">wear me while you cook</td><td style="text-align:center">apron pocket</td></tr>
<tr><td style="text-align:center">get pumped</td><td style="text-align:center">bike pump</td></tr>
</TABLE>
</BODY>
</HTML>
