<HTML><HEAD>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</HEAD>
<BODY>
{% block content %}
     <h1>Math Encode</h1>
     <form action="" method="post" name="simple" enctype="multipart/form-data">
         <p>
             Clue:
             {{form.clue(size=80)}}
         </p>
         <p>
             Puzzle type:
             {{form.puzzle_type()}}
         </p>
         <p><input type="submit" value="Submit"></p>
     </form>

{% endblock %}
</BODY></HTML>